* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html body {
    background: rgb(31, 31, 31);
    animation: fade_grey 2s infinite alternate;
    color: white;
    display: flex;
    justify-content: center;
}

/* smoother animation */
@keyframes fade_grey {
    0% {
        background: rgb(3, 3, 3);
    }

    20% {
        background: rgb(4, 4, 4);
    }

    40% {
        background: rgb(3, 3, 3)
    }

    60% {
        background: rgb(4, 4, 4);
    }

    80% {
        background: rgb(3, 3, 3);
    }

    100% {
        background: rgb(4, 4, 4)
    }
}

.list-header {
    font-family: "SUSE Mono", sans-serif;
    font-weight: 900;
    font-size: 5rem;
    cursor: default;
}

@media (max-width: 480px) {
    .list-header {
        font-size: 3rem;
    }
}

.list-header-container {
    height: 15vh;
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-children-container {
    height: 20vh;
    justify-content: center;
    margin-top: 5vh;
}

.list-children-container {
    display: flex;
    justify-content: center;
}

.list-item-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10vh;
}

.list-item-holder {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    word-break: break-all;
    width: 40vw;
}

.todo-input {
    text-align: center;
    border: none;
    cursor: default;
    border-radius: 5px;
}

.add-todo-btn {
    margin-left: 1vw;
    border: none;
    cursor: pointer;
    padding: 2px 10px;
    border-radius: 6px;
}

.todos_list {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
        Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 900;
    list-style: none;
    display: flex;
    margin-top: 1vh;
    width: 40vw;
}

.overall-container {
    overflow-y: auto;
    width: 70vw;
    margin-top: 10vh;
    background: rgb(20, 20, 20);
    border-radius: 12px;
    height: 70vh;
}

@media (max-width: 620px) {
    .todo-children-container {
        margin-top: 7vh;
    }
}

/* hide scrollbar */
::-webkit-scrollbar {
    width: 0.1px;
}

.back-btn-container {
    position: fixed;
    height: fit-content;
    width: 90vw;
}

.back-btn {
    border: none;
    padding: 7px 20px;
    border-radius: 10px;
    margin-top: 2vh;
    cursor: pointer;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
        Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 900;
}