* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html body {
    background: wheat;
    color: white;
}

.list-header {
    font-family: "SUSE Mono", sans-serif;
    font-weight: 900;
    font-size: 5rem;
}

@media (max-width: 480px) {
    .list-header {
        font-size: 3rem;
    }
}

.list-header-container {
    height: 15vh;
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-children-container {
    height: 20vh;
    justify-content: center;
    margin-top: 5vh;
}

.list-children-container {
    display: flex;
    justify-content: center;
}

.list-item-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10vh;
}

.list-item-holder {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    word-break: break-all;
    border: 1px solid red;
    width: 40vw;
}

.todo-input {
    text-align: center;
    border: none;
    border-radius: 5px;
}

.add-todo-btn {
    margin-left: 1vw;
    border: none;
    padding: 2px 10px;
    border-radius: 6px;
}

.todos_list {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
        Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 900;
    list-style: none;
    border: 1px solid red;
    display: flex;
    width: 40vw;
}

.overall-container {
    border: 1px solid red;
    overflow-y: auto;
    width: 50vw;
}

/* hide scrollbar */
::-webkit-scrollbar {
    width: 0.1px;
}